.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}

.loader {
  display: block;
  margin: 0 auto;
}

.inform {
  display: flex;
  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 64, 0);
}
